###3.1 Warm Up Exercises:
1. Sorting and Subsetting:

Complete all following Task:

• Dataset for the Task: "titanic.csv"

####Following task is common for all the problem:

1. Load the provided dataset and import in pandas DataFrame.

2. Check info of the DataFrame and identify following:

In [1]:
import pandas as pd

In [2]:
#1
df = pd.read_csv("/content/drive/MyDrive/Concepts-and-Technologies-of-AI/Titanic-Dataset.csv")

In [3]:
#2
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

###Problem 1 - Sorting:

1. Create a DataFrame called fare that contains only the Fare column of the Titanic dataset. Print the
head of the result.

2. Create a DataFrame called class age that contains only the Pclass and Age columns of the Titanic
dataset, in that order. Print the head of the result.

3. Create a DataFrame called survived gender that contains the Survived and Sex columns of the
Titanic dataset, in that order.Print the head of the result.

In [4]:
#1
fare = df[['Fare']]
print(fare.head())

      Fare
0   7.2500
1  71.2833
2   7.9250
3  53.1000
4   8.0500

In [5]:
#2
class_age = df[['Pclass', 'Age']]
print(class_age.head())

   Pclass   Age
0       3  22.0
1       1  38.0
2       3  26.0
3       1  35.0
4       3  35.0

In [6]:
#3
survived_gender = df[['Survived', 'Sex']]
print(survived_gender.head())

   Survived     Sex
0         0    male
1         1  female
2         1  female
3         1  female
4         0    male

###Problem - 2 - Subsetting:
#####Complete all the following Task:
Subsetting Rows:
1. Filter the Titanic dataset for cases where the passenger’s fare is greater than 100, assigning it
to fare gt 100.View the printed result.

2. Filter the Titanic dataset for cases where the passenger’s class (Pclass) is 1, assigning it to
first class.View the printed result.

3. Filter the Titanic dataset for cases where the passenger’s age is less than 18 and the passenger
is female (Sex is "female"), assigning it to female under 18. View the printed result.
#####Subsetting Rows by Categorical variables:

1. Filter the Titanic dataset for passengers whose Embarked port is either "C" (Cherbourg) or "S"
(Southampton), assigning the result to embarked c or s. View the printed result.

2. Filter the Titanic dataset for passengers whose Pclass is in the list [1, 2] (indicating first
or second class), assigning the result to first second class.View the printed result.

In [8]:
#Subsetting Rows
#1
fare_gt_100 = df[df['Fare'] > 100]
print(fare_gt_100.head())

     PassengerId  Survived  Pclass  \
27            28         0       1
31            32         1       1
88            89         1       1
118          119         0       1
195          196         1       1

                                               Name     Sex   Age  SibSp  \
27                   Fortune, Mr. Charles Alexander    male  19.0      3
31   Spencer, Mrs. William Augustus (Marie Eugenie)  female   NaN      1
88                       Fortune, Miss. Mabel Helen  female  23.0      3
118                        Baxter, Mr. Quigg Edmond    male  24.0      0
195                            Lurette, Miss. Elise  female  58.0      0

     Parch    Ticket      Fare        Cabin Embarked
27       2     19950  263.0000  C23 C25 C27        S
31       0  PC 17569  146.5208          B78        C
88       2     19950  263.0000  C23 C25 C27        S
118      1  PC 17558  247.5208      B58 B60        C
195      0  PC 17569  146.5208          B80        C

In [60]:
#2
first_class = df[df['Pclass'] == 1]
print(first_class.head())

    PassengerId  Survived  Pclass  \
1             2         1       1
3             4         1       1
6             7         0       1
11           12         1       1
23           24         1       1

                                                 Name     Sex   Age  SibSp  \
1   Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
3        Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
6                             McCarthy, Mr. Timothy J    male  54.0      0
11                           Bonnell, Miss. Elizabeth  female  58.0      0
23                       Sloper, Mr. William Thompson    male  28.0      0

    Parch    Ticket     Fare Cabin Embarked  fare_per_year  fare_per_class  \
1       0  PC 17599  71.2833   C85        C       1.875876         71.2833
3       0    113803  53.1000  C123        S       1.517143         53.1000
6       0     17463  51.8625   E46        S       0.960417         51.8625
11      0    113783  26.5500  C103        S       0.457759         26.5500
23      0    113788  35.5000    A6        S       1.267857         35.5000

   age_group
1      adult
3      adult
6      adult
11     adult
23     adult

In [11]:
#3
female_under_18 = df[(df['Age'] < 18) & (df['Sex'] == "female")]
print(female_under_18.head())

    PassengerId  Survived  Pclass                                  Name  \
9            10         1       2   Nasser, Mrs. Nicholas (Adele Achem)
10           11         1       3       Sandstrom, Miss. Marguerite Rut
14           15         0       3  Vestrom, Miss. Hulda Amanda Adolfina
22           23         1       3           McGowan, Miss. Anna "Annie"
24           25         0       3         Palsson, Miss. Torborg Danira

       Sex   Age  SibSp  Parch   Ticket     Fare Cabin Embarked
9   female  14.0      1      0   237736  30.0708   NaN        C
10  female   4.0      1      1  PP 9549  16.7000    G6        S
14  female  14.0      0      0   350406   7.8542   NaN        S
22  female  15.0      0      0   330923   8.0292   NaN        Q
24  female   8.0      3      1   349909  21.0750   NaN        S

In [13]:
#Subsetting Rows by Categorical Variables
#1
embarked_c_or_s = df[df['Embarked'].isin(['C', 'S'])]
print(embarked_c_or_s.head())

   PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2            3         1       3
3            4         1       1
4            5         0       3

                                                Name     Sex   Age  SibSp  \
0                            Braund, Mr. Owen Harris    male  22.0      1
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                             Heikkinen, Miss. Laina  female  26.0      0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                           Allen, Mr. William Henry    male  35.0      0

   Parch            Ticket     Fare Cabin Embarked
0      0         A/5 21171   7.2500   NaN        S
1      0          PC 17599  71.2833   C85        C
2      0  STON/O2. 3101282   7.9250   NaN        S
3      0            113803  53.1000  C123        S
4      0            373450   8.0500   NaN        S

In [14]:
#2
first_second_class = df[df['Pclass'].isin([1, 2])]
print(first_second_class.head())

    PassengerId  Survived  Pclass  \
1             2         1       1
3             4         1       1
6             7         0       1
9            10         1       2
11           12         1       1

                                                 Name     Sex   Age  SibSp  \
1   Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
3        Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
6                             McCarthy, Mr. Timothy J    male  54.0      0
9                 Nasser, Mrs. Nicholas (Adele Achem)  female  14.0      1
11                           Bonnell, Miss. Elizabeth  female  58.0      0

    Parch    Ticket     Fare Cabin Embarked
1       0  PC 17599  71.2833   C85        C
3       0    113803  53.1000  C123        S
6       0     17463  51.8625   E46        S
9       0    237736  30.0708   NaN        C
11      0    113783  26.5500  C103        S

Which passenger had the highest fare paid relative to their age?

To answer the question perform following operations:

1. Add a column to the Titanic dataset, fare per year, containing the fare divided by the age of
the passenger(i.e., Fare/Age).

2. Subset rows where fare per year is higher than 5, assigning this to high fare age.

3. Sort high fare age by descending fare per year, assigning this to high fare age srt.

4. Select only the Name and fare per year columns of high fare age srt and save the result as result.

5. Look at the result.

In [15]:
#1
df['fare_per_year'] = df['Fare'] / df['Age']

In [16]:
#2
high_fare_age = df[df['fare_per_year'] > 5]
print(high_fare_age.head())

    PassengerId  Survived  Pclass                                      Name  \
7             8         0       3            Palsson, Master. Gosta Leonard
16           17         0       3                      Rice, Master. Eugene
27           28         0       1            Fortune, Mr. Charles Alexander
43           44         1       2  Laroche, Miss. Simonne Marie Anne Andree
50           51         0       3                Panula, Master. Juha Niilo

       Sex   Age  SibSp  Parch         Ticket      Fare        Cabin Embarked  \
7     male   2.0      3      1         349909   21.0750          NaN        S
16    male   2.0      4      1         382652   29.1250          NaN        Q
27    male  19.0      3      2          19950  263.0000  C23 C25 C27        S
43  female   3.0      1      2  SC/Paris 2123   41.5792          NaN        C
50    male   7.0      4      1        3101295   39.6875          NaN        S

    fare_per_year
7       10.537500
16      14.562500
27      13.842105
43      13.859733
50       5.669643

In [17]:
#3
high_fare_age_srt = high_fare_age.sort_values(by='fare_per_year', ascending=False)
print(high_fare_age_srt.head())

     PassengerId  Survived  Pclass                             Name     Sex  \
305          306         1       1   Allison, Master. Hudson Trevor    male
297          298         0       1     Allison, Miss. Helen Loraine  female
386          387         0       3  Goodwin, Master. Sidney Leonard    male
164          165         0       3     Panula, Master. Eino Viljami    male
183          184         1       2        Becker, Master. Richard F    male

      Age  SibSp  Parch   Ticket      Fare    Cabin Embarked  fare_per_year
305  0.92      1      2   113781  151.5500  C22 C26        S     164.728261
297  2.00      1      2   113781  151.5500  C22 C26        S      75.775000
386  1.00      5      2  CA 2144   46.9000      NaN        S      46.900000
164  1.00      4      1  3101295   39.6875      NaN        S      39.687500
183  1.00      2      1   230136   39.0000       F4        S      39.000000

In [18]:
#4
result = high_fare_age_srt[['Name', 'fare_per_year']]
print(result.head())

                                Name  fare_per_year
305   Allison, Master. Hudson Trevor     164.728261
297     Allison, Miss. Helen Loraine      75.775000
386  Goodwin, Master. Sidney Leonard      46.900000
164     Panula, Master. Eino Viljami      39.687500
183        Becker, Master. Richard F      39.000000

In [22]:
#5
result

                                       Name  fare_per_year
305          Allison, Master. Hudson Trevor     164.728261
297            Allison, Miss. Helen Loraine      75.775000
386         Goodwin, Master. Sidney Leonard      46.900000
164            Panula, Master. Eino Viljami      39.687500
183               Becker, Master. Richard F      39.000000
..                                      ...            ...
318                Wick, Miss. Mary Natalie       5.318281
348  Coutts, Master. William Loch "William"       5.300000
205              Strom, Miss. Telma Matilda       5.231250
813      Andersson, Miss. Ebba Iris Alfrida       5.212500
480          Goodwin, Master. Harold Victor       5.211111

[68 rows x 2 columns]

Which adult male passenger (age ≥ 18 and Sex is ’male’) paid the highest fare relative to their
class?

To answer the question perform following operations:

1. Add a column to the Titanic dataset, fare per class, containing the fare divided by the passenger
class i.e. Fare / Pclass.

2. Subset rows where the passenger is male (Sex is ”male”) and an adult (Age is greater than or equal
to 18), assigning this to adult males.

3. Sort adult males by descending fare per class, assigning this to adult males srt.

4. Select only the Name, Age, and fare per class columns of adult males sr and save the result
as result.

5. Look at the result.

In [23]:
#1
df['fare_per_class'] = df['Fare'] / df['Pclass']

In [24]:
#2
adult_males = df[(df['Sex'] == 'male') & (df['Age'] >= 18)]
print(adult_males.head())

    PassengerId  Survived  Pclass                            Name   Sex   Age  \
0             1         0       3         Braund, Mr. Owen Harris  male  22.0
4             5         0       3        Allen, Mr. William Henry  male  35.0
6             7         0       1         McCarthy, Mr. Timothy J  male  54.0
12           13         0       3  Saundercock, Mr. William Henry  male  20.0
13           14         0       3     Andersson, Mr. Anders Johan  male  39.0

    SibSp  Parch     Ticket     Fare Cabin Embarked  fare_per_year  \
0       1      0  A/5 21171   7.2500   NaN        S       0.329545
4       0      0     373450   8.0500   NaN        S       0.230000
6       0      0      17463  51.8625   E46        S       0.960417
12      0      0  A/5. 2151   8.0500   NaN        S       0.402500
13      1      5     347082  31.2750   NaN        S       0.801923

    fare_per_class
0         2.416667
4         2.683333
6        51.862500
12        2.683333
13       10.425000

In [25]:
#3
adult_males_srt = adult_males.sort_values(by='fare_per_class', ascending=False)
print(adult_males_srt.head())

     PassengerId  Survived  Pclass                                Name   Sex  \
737          738         1       1              Lesurer, Mr. Gustave J  male
679          680         1       1  Cardeza, Mr. Thomas Drake Martinez  male
438          439         0       1                   Fortune, Mr. Mark  male
27            28         0       1      Fortune, Mr. Charles Alexander  male
118          119         0       1            Baxter, Mr. Quigg Edmond  male

      Age  SibSp  Parch    Ticket      Fare        Cabin Embarked  \
737  35.0      0      0  PC 17755  512.3292         B101        C
679  36.0      0      1  PC 17755  512.3292  B51 B53 B55        C
438  64.0      1      4     19950  263.0000  C23 C25 C27        S
27   19.0      3      2     19950  263.0000  C23 C25 C27        S
118  24.0      0      1  PC 17558  247.5208      B58 B60        C

     fare_per_year  fare_per_class
737      14.637977        512.3292
679      14.231367        512.3292
438       4.109375        263.0000
27       13.842105        263.0000
118      10.313367        247.5208

In [26]:
#4
result = adult_males_srt[['Name', 'Age', 'fare_per_class']]
print(result.head())

                                   Name   Age  fare_per_class
737              Lesurer, Mr. Gustave J  35.0        512.3292
679  Cardeza, Mr. Thomas Drake Martinez  36.0        512.3292
438                   Fortune, Mr. Mark  64.0        263.0000
27       Fortune, Mr. Charles Alexander  19.0        263.0000
118            Baxter, Mr. Quigg Edmond  24.0        247.5208

In [27]:
#5
result

                                   Name   Age  fare_per_class
737              Lesurer, Mr. Gustave J  35.0        512.3292
679  Cardeza, Mr. Thomas Drake Martinez  36.0        512.3292
438                   Fortune, Mr. Mark  64.0        263.0000
27       Fortune, Mr. Charles Alexander  19.0        263.0000
118            Baxter, Mr. Quigg Edmond  24.0        247.5208
..                                  ...   ...             ...
806              Andrews, Mr. Thomas Jr  39.0          0.0000
597                 Johnson, Mr. Alfred  49.0          0.0000
263               Harrison, Mr. William  40.0          0.0000
271        Tornquist, Mr. William Henry  25.0          0.0000
822     Reuchlin, Jonkheer. John George  38.0          0.0000

[395 rows x 3 columns]

###3.3 Exploratory Data Analysis with Group-by Method Practice Exercise:

To answer the question perform following operation:

1. Calculate the total Fare paid across all passengers in the Titanic dataset.

2. Subset for passengers in first class (Pclass is 1) and calculate their total fare.

3. Do the same for second class (Pclass is 2) and third class (Pclass is 3).

4. Combine the fare totals from first, second, and third classes into a list.

5. Divide the totals for each class by the overall total fare to get the proportion of fare revenue by class.

#####Based on the dataset Answer the following question:

####What percent of the total number of passengers on the Titanic belonged to each age group(e.g., child, adult, senior)?

#####Based on the dataset Answer the following question: What percent of the total fare revenue came from each passenger class?

First class passengers contributed ~58% of the total fare revenue.

Second class ~25% of the total fare revenue.

Third class ~17% of the total fare revenue.

In [38]:
#1
total_fare = df['Fare'].sum()
print("Total Fare:", total_fare)

Total Fare: 28693.9493

In [39]:
#2
fare_class_1 = df[df['Pclass'] == 1]['Fare'].sum()
print("First Class Fare Total:", fare_class_1)

First Class Fare Total: 18177.4125

In [56]:
#3
fare_class_2 = df[df['Pclass'] == 2]['Fare'].sum()
print("Second Class Fare Total:", fare_class_2)
fare_class_3 = df[df['Pclass'] == 3]['Fare'].sum()
print("Third Class Fare Total:", fare_class_3)

Second Class Fare Total: 3801.8417
Third Class Fare Total: 6714.6951

In [58]:
#4
fare_totals = [fare_class_1, fare_class_2, fare_class_3]
print("Fare Totals by Class:", fare_totals)

Fare Totals by Class: [np.float64(18177.4125), np.float64(3801.8417), np.float64(6714.6951)]

In [59]:
#5
fare_class_1_prop = fare_class_1 / total_fare
fare_class_2_prop = fare_class_2 / total_fare
fare_class_3_prop = fare_class_3 / total_fare

print(fare_class_1_prop)
print(fare_class_2_prop)
print(fare_class_3_prop)

0.6334928771899656
0.1324962855496507
0.23401083726038366

Most passengers on the Titanic were adults, making up about ~76–77% of the total,

Children accounted for around ~18%,

while seniors made up about ~5% of the passengers.

###To answer the question perform following operation:

1. Create a new column, age group, that categorizes passengers into "child" (age < 18), "adult" (age
18{64), and "senior" (age 65 and above).

2. Calculate the total number of passengers on the Titanic.

3. Count the number of passengers in each age group.

4. Divide the count of each age group by the total number of passengers to get the proportion of passengers
in each age group.

5. Display the proportion as a percentage.

In [48]:
#1
df['age_group'] = pd.cut(
    df['Age'],
    bins=[0, 18, 64, float('inf')],
    labels=['child', 'adult', 'senior']
)
print(df[['Age', 'age_group']].head(10))

    Age age_group
0  22.0     adult
1  38.0     adult
2  26.0     adult
3  35.0     adult
4  35.0     adult
5   NaN       NaN
6  54.0     adult
7   2.0     child
8  27.0     adult
9  14.0     child

In [50]:
#2
total_passengers = len(df)
print("Total Passengers:", total_passengers)

Total Passengers: 891

In [51]:
#3
age_group_counts = df['age_group'].value_counts()
print("Age Group Counts:")
print(age_group_counts)

Age Group Counts:
age_group
adult     564
child     139
senior     11
Name: count, dtype: int64

In [53]:
#4
age_group_proportions = age_group_counts / total_passengers
print("Age Group Proportions:")
print(age_group_proportions)

Age Group Proportions:
age_group
adult     0.632997
child     0.156004
senior    0.012346
Name: count, dtype: float64

In [55]:
#5
age_group_percentages = age_group_proportions * 100
print("Total passengers:", total_passengers)
print("\nCounts by Age Group:\n", age_group_counts)
print("\nProportions (%):\n", age_group_percentages.round(2))

Total passengers: 891

Counts by Age Group:
 age_group
adult     564
child     139
senior     11
Name: count, dtype: int64

Proportions (%):
 age_group
adult     63.30
child     15.60
senior     1.23
Name: count, dtype: float64